@font-face {
    font-family: New Athletic M54;
    src: url('./assets/font/New\ Athletic\ M54.ttf');
}

@font-face {
    font-family: KitschyRetroRegular-9YnqB;
    src: url('./assets/font/KitschyRetroRegular-9YnqB.ttf');
}